@model ChatViewModel

@{ await Html.RenderPartialAsync("_NotificationMessage", Model); }
<div class="row">
    <div class="card">
        <div class="card-header">
            Chat Box
        </div>
        <div class="card-body">
            <div class="row align-items-start">
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                </div>
                <div class="col">
                    <div class="input-group mb-3" id="UserName">
                        @Html.DisplayTextFor(model => model.UserName)
                    </div>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.ChatMessage, new { @class = "control-label" })
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.ChatMessage, new { placeholder = "Message" })
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" id="btnSend">Send </button>
            </div>
        </div>
    </div>
</div>
